/* Stildefinitionen für das gesamte Dokument */

/* Globale Variable für die Breite der Eingabefelder */
:root {
  --inputWidth: 80px;
}

/* Globale Stildefinitionen für alle Elemente */
* {
  scroll-behavior: smooth;
  font-family: system-ui;
  margin: 0;
  padding: 0;
  font-family: 'Arial';
}

/* Überschriften */
h1 {
  letter-spacing: -1px;
  text-align: center;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #000000;
}

select,
button {
  cursor: pointer;
}

input {
  cursor: text;
}

/* Stildefinitionen für numerische Input-Felder (z.B., Einheiten-Umrechner) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  width: var(--inputWidth);
  text-align: center;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  width: var(--inputWidth);
  text-align: center;
}

/* Stil für deaktivierte Input-Felder */
input:disabled {
  background-color: rgba(255, 255, 255, 0.75);
  cursor: default;
}

/* Hintergrundstil für den Body mit linearem Farbverlauf */
body {
  background: rgb(1, 122, 248);
  background: linear-gradient(180deg, #00d0ff 0%, #003dd7 100%) fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/* Container für die Tools: flexibles Layout, gleichmäßiger Abstand zwischen den Elementen */
.toolsContainer {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Stil für kleine Tools mit abgerundeten Ecken und leicht durchsichtigem Hintergrund */
.toolSmall {
  width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 3vh;
  margin: 10px;
}

/* Stil für große Tools, ähnlich wie kleine Tools, aber breiter */
.toolBig {
  width: 80vw;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 3vh;
  margin: 10px;
}

/* Stil für runde Buttons in den Tools */
.buttonRound {
  background-color: #ffffff;
  border: none;
  color: #333333;
  padding: 2px 6px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 5px;
}

/* Allgemeiner Stil für Buttons in den Tools */
.button {
  background-color: #ffffff;
  border: none;
  color: #333333;
  padding: 2px 6px;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
}

/* Stil für Buttons in Taschenrechner-Tool */
#calculator .button-figure {
  background-color: #ffffff;
  height: 50px;
  width: 50px;
  border: none;
  color: #333333;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 20px;
  margin: 5px 0px 0 5px;
  border-radius: 30%;
}

/* Stil für den Taschenrechner: Tabelle wird zentriert */
#calculator table {
  margin-left: 50%;
  translate: -50%;
}

/* Stil für das Ergebnis-Feld im Taschenrechner */
.result-bar {
  background-color: #ffffff;
  border: none;
  height: 30px;
  color: #333333;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 5px;
}

/* Container für nebeneinander liegende Elemente in den Tools */
.nebeneinanderContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  margin-top: -50px;
}

/* Stil für nebeneinander liegende Elemente in den Tools */
.nebeneinander {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

/* Stil für Hover-Effekt auf Input-Feldern */
#input:hover {
  cursor: text;
}

/* Stil für die Top-Bar */
.topBar {
  width: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Stil für die Suchleiste */
.searchBar {
  background-color: #ffffff;
  border: none;
  color: #333333;
  padding: 2px 15px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
  vertical-align: middle;
  border-radius: 30px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin: 5px 0px;
  resize: none;
  height: 5vh;
  width: 50vw;
  line-height: 5vh;
}

/* Stil für Hover-Effekt auf der Suchleiste */
.searchBar:hover {
  cursor: text;
}

/* Wrapper für die Suchleiste */
.searchBarWrapper {
  display: flex;
}

/* Stil für den Such-Button */
.searchButton {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

/* Stil für Hover-Effekt auf den Such-Button */
.searchButton:hover {
  cursor: pointer;
}

/* Stil für die Datums- und Uhr-Anzeige */
.dateClock {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 2px 20px;
  border-radius: 30px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 17.5px;
  font-weight: 500;
}

/* Stil für den Auslöse Button fürs Übersetzen */
.translatorContainer .buttonRound {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px; 
  width: 40px;
  font-size: 30px;
}

/* Stil für das Eingabefeld im Übersetzer-Tool */
.eingabe {
  background-color: #ffffff;
  border: none;
  color: #333333;
  padding: 2px 6px;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  width: 35vw;
  height: 35vh;
  resize: none;
}

/* Hover-Effekt auf das Eingabefeld im Übersetzer-Tool */
.eingabe:hover {
  cursor: text;
}

/* Container für Übersetzer-Tool: flexibles Layout, gleichmäßiger Abstand zwischen den Elementen */
.translatorContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Popup-Stil für gespeicherte Links */
#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 10px;
  padding-top: 0px;
  border-radius: 30px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 17.5px;
  font-weight: 500;
}

/* Stil für die Liste der gespeicherten Links */
#links-container {
  list-style: none;
  padding: 0;
}

/* Stil für Bearbeiten- und Löschen-Buttons (initial versteckt) */
.edit-buttons, .delete-buttons {
  display: none;
}

/* Stil für jedes Link-Element */
.link-item {
  margin-bottom: 10px;
}

/* Container-Stil für jedes Link-Element: flexibles Layout, gleichmäßiger Abstand zwischen den Elementen */
.link-container {
  display: flex;
  justify-content: space-between;
}

/* Stil für die Buttons innerhalb der Link-Container */
.link-container .button {
  text-decoration: none;
  box-shadow: none;
  margin: 0;
}

/* Media Queries für responsives Design */

/* Verstecke die Navbar bei Bildschirmen bis 1024px Breite und zeige sie bei Bedarf mit dem Menü-Icon */
@media screen and (max-width: 1024px) {
  .navbar {
    transform: translateX(-240px);
  }

  .menu-icon {
    display: block;
  }

  .navbar.active {
    transform: translateX(0);
  }
}

/* Ändere den linken Rand der Tool-Container bei Bildschirmen bis 1024px Breite */
@media (max-width: 1024px) {
  .toolsContainer {
    margin-left: 0px;
  }
}

/* Ändere die Breite der kleinen Tools bei Bildschirmen bis 1159px Breite */
@media (max-width: 1159px) {
  .toolSmall {
    width: 40%;
  }
}

/* Ändere die Breite der kleinen Tools bei Bildschirmen bis 600px Breite */
@media (max-width: 600px) {
  .toolSmall {
    width: 80%;
  }
}

/* Ändere die Ausrichtung der Top-Bar und den Abstand des Datum-Uhr-Elements bei Bildschirmen bis 930px Breite */
@media (max-width: 930px) {
  .topBar {
    flex-direction: column;
  }
  #dateClock {
    margin: 10px 400px;
  }
}
